<div class="flex flex-wrap justify-center gap-x-24 gap-y-16">
  {% for row in rows %}
    <div class="w-[260px] md:w-[320px] flex justify-center">
      {{ row.content }}
    </div>
  {% endfor %}
</div>
