{% if items %}
  <ul class="flex flex-col lg:flex-row gap-4 lg:gap-8 text-xs tracking-[0.2em] uppercase">
    {% for item in items %}
      <li class="list-none">
        {{ link(item.title, item.url) }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
